<h1>Sample iOP Edit User Form</h1>
<form>
  <label for="firstName">Edit First Name: <input name="firstName" type="text" placeholder="Kean" value="Kean"></label>
  <label>Edit Last Name: <input name="lastName" type="text" placeholder="Last Name" value="Drake"></label>
  <label>Edit Phone Number: <input name="phone" type="text" placeholder="Phone Number" value="555-555-5550"></label>
  <label>Email Address: <input name="email" type="text" value="kean.drake@banno.com" readonly="readonly"</label>
  <label><input type="submit" value="Submit"></label>
</form>
