<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8"/>
    <title>Sample iOP: User's List</title>
    <link rel="stylesheet" href="../style.css" />
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <script src="../js/script.js"></script>
  </head>
  <body>
    <header>
      <hgroup>
        <h1>Sample iOP</h1>
        <h2>Created by following the <a href="https://github.com/Banno/wiki/tree/ux-intern-onboarding/ux/intern-onboarding-project">Intern Onboarding Project Docs</a></h2>
      </hgroup>
      <nav>
        <a href="http://localhost:1820">Home</a>
        <a href="http://localhost:1820/partials/usersList.html">Users List</a>
        <a href="http://localhost:1820/partials/userProfile.html">User Profile</a>
        <a href="http://localhost:1820/partials/newUser.html">New User</a>
        <a href="http://localhost:1820/partials/editUser.html">Edit User</a>
      </nav>
    </header>
    <h1>Sample iOP New User Form</h1>
    <form>
      <label>First Name: <input name="firstName" type="text" placeholder="First Name"></label>
      <label>Last Name: <input name="lastName" type="text" placeholder="Last Name"></label>
      <label>Phone Number: <input name="phone" type="text" placeholder="Phone Number"></label>
      <label>Email Address: <input name="email" type="text" placeholder="Email Address"></label>
      <label><input type="submit" value="Submit"></label>
    </form>
  </body>
</html>
