header {
  margin-bottom: 5px;
  box-shadow: 0px 1px 1px #222222;
  border: none;
  padding: 25px;
  width: auto;
  height: auto;

  background-color: #dddddd;
}

nav a {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

h1 {
  display: block;

  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

h2 {
  display: block;

  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

h3 {
  display: block;

  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

h4 {
  display: block;

  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

.userProfile {
  display: inline-block;

  margin-top: 5px;
  margin-bottom;
  box-shadow: 0px 1px 1px #222222;
  border: none;
  padding: 25px;
  width: auto;
  height: auto;

  background-color: #00aadd;
}

form {
  display: inline-block;

  margin-top: 5px;
  margin-bottom;
  box-shadow: 0px 1px 1px #222222;
  border: none;
  padding: 25px;
  width: auto;
  height: auto;

  background-color: #dddddd;
}

form label {
  display: block;

  margin: 2px;
  padding: none;
  width: auto;
  height: auto;

  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

p {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 24px;
}
